body { 

    font-family: Arial, sans-serif; 

    margin: 0; 

    padding: 0; 

    text-align: center; 
    

} 

 

header { 

    background-color: #79c7d1; 

    background-image: url(petshop-img/jumbotron.jpg);

    padding: 20px; 

    color: white; 

    

} 

 

nav a { 

    margin: 0 15px; 

    text-decoration: none; 

    color: white; 

    font-weight: bold; 

} 

 

.featured { 

    margin: 20px; 

} 

 

.pet-list { 

    display: flex; 

    justify-content: center; 

    gap: 20px; 

} 

 

.pet { 

    border: 2px solid #ddd; 

    padding: 15px; 

    border-radius: 20px;

    text-align: center; 

} 

 

.pet img { 

    width: 150px; 

    height: 150px; 

    border-radius: 100px;

} 

 

button { 

    background-color: #008CBA; 

    color: white; 

    padding: 10px; 

    border: none; 

    cursor: pointer;
    
    border-radius: 20px;

} 

 

button:hover { 

    background-color: #005f7a; 

} 
